body {
    font-family: "Urbanist", sans-serif;
    background-image: linear-gradient(to left, rgb(81, 79, 79), rgb(190, 190, 190));
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.wrapper {
    flex: 1;
}

footer {
    background-color: black;
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 10px;
    margin: 10px;
    flex-shrink: 0;
}



nav {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: -14px;
    padding: 10px;
}

ul#abas {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 0;
    margin: 0;
}

ul#abas li {
    display: inline-block;
}

ul#abas li a {
    font-family: "Urbanist", sans-serif;
    text-decoration: none;
    color: black;
    margin: 10px;
}

ul#abas li a:hover {
    text-decoration: underline;
}



li>a {
    color: black;
    text-decoration: none;
}

li>a:hover {
    text-decoration: underline;
}

.hovero {
    transition: background-color 0.3s ease;
}

.hovero:hover {
    background-color: lightsalmon;
    border-radius: 5px;
}

img {
    margin: 28px 173px;
}

#logo {
    display: flex;
    margin-top: -85px;
    margin-left: 1170px;
    margin-right: 180px;
}

#perfil {
    margin-top: -55px;
    margin-right: 200px;
    margin-bottom: 100px;
    margin-left: 1300px;
}

#search-text {
    width: 300px;
    padding: 4px;
    margin-top: -500px;
    margin-right: -100px;
    margin-bottom: -10px;
    margin-left: 800px;
    border-radius: 8px;
}

.profile:hover {
    background-color: red;
    display: block;
}

.dropdown {
    display: inline-block;
}

.dropdown>div {
    margin-top: -80px;
    margin-left: 1300px;
    margin-bottom: 500px;
    padding: 0;
    box-sizing: border-box;
}

.dropdown-menu {
    font-family: "Urbanist", sans-serif;
    position: absolute;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
    display: none;
}

.dropdown-menu a {
    display: block;
    text-decoration: none;
    color: orangered;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#contact {
    display: inline-block;
    position: relative;
}

.dropdown-contact {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
}

#contact:hover .dropdown-contact {
    display: block;
}

#contact:hover .dropdown-contact span {
    color: black;
}

.Products {
    margin-left: 720px;
}

.Products>a {
    color: black;
}

.img {
    margin-right: -150px;
}

.imagesDown {
    margin-left: -170px;
}

#suggestions {
    border: 1px solid #ddd;
    max-height: 150px;
    /* Limite de altura com rolagem */
    overflow-y: auto;
    background-color: white;
    display: none;
    /* Inicialmente escondido */
    position: absolute;
    z-index: 1000;
    /* Garante que fique acima de outros elementos */
    width: 310px;
    /* Mesma largura do campo de pesquisa */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra para dar destaque */
    margin-left: 800px;
    margin-top: 6px;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #f1f1f1;
}

#symbol {
    margin-top: -100px;
    margin-left: 1440px;
}

/* #embaixo3{
    margin-top: -135px;
    padding-left: 1380px;
} */


/* ESTILIZAÇÃO DO SLIDER NO INDEX */

.slider {
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    /* Garante que a imagem se ajuste ao container */
}


.manual-navigation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 2px solid#FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #FFF;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

.navigation-auto {
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
}

.navigation-auto div:not(:Last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #FFF;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #FFF;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #FFF;
}


#sidebar-wrapper {
    position: fixed;
    z-index: 2;
    right: 0;
    width: 250px;
    height: 100%;
    transition: all 0.4s ease 0s;
    transform: translateX(250px);
    background: #3c3d3d;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 15px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 1.2rem;
    background: rgba(52, 58, 64, 0.1);
    height: 80px;
    line-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.sidebar-nav>.sidebar-brand a {
    color: #fff;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    transition: all 0.4s ease 0s;
}

.masthead {
    min-height: 30rem;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: linear-gradient(90deg, rgba(100, 100, 100, 0.1) 0%, rgba(100, 100, 100, 0.1) 100%), url("../assets/img/capa.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1,
.masthead .h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
    }

    .masthead h1,
    .masthead .h1 {
        font-size: 5.5rem;
    }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {

    .container-sm,
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {

    .container-md,
    .container-sm,
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {

    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {

    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1320px;
    }
}

.menu-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
    z-index: 999;
}

.menu-toggle:focus,
.menu-toggle:hover {
    color: #fff;
}

.menu-toggle:hover {
    background: #343a40;
}

.scroll-to-top {
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #fff;
    background: rgba(52, 58, 64, 0.5);
    line-height: 50px;
}

.scroll-to-top:focus,
.scroll-to-top:hover {
    color: #fff;
}

.scroll-to-top:hover {
    background: #343a40;
}

.scroll-to-top i {
    font-weight: 800;
}


